.task {
  display: flex;
  display: inline-block;
  justify-content: center;
  padding: 2rem;
  box-shadow: 10px 9px 39px -3px #fbfafabf;
  width: 70%;
  border: 1px solid rgb(193, 207, 146);
  border-radius: 0.60rem;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;

  &__title {
    margin-right: 2rem;
    color: #c8f397;
    display: inline-block;

  }

  &__description {
    color: rgb(7, 110, 179);
    display: inline-block;
  }
}
