.CardInput {
  display: flex;
  padding: 2rem;
  box-shadow: 10px 9px 39px -3px #fbfafabf;
  width: 80%;

    > input {
      width: 100%;
      padding: 0.5rem;
      margin: 0.4rem;
      font-size: 1rem;
      background-color: transparent;
      border: 1px solid rgb(193, 207, 146);
      box-shadow: 6px 9px 9px -3px #fdfdfdbf;

    }
  
    &__buttons {
      // display: flex;
      align-items: center;
      // justify-content: space-between;
  
      > button {
        cursor: pointer;
        outline: none;
      }
    }
  
    &__add-button {
      width: 12rem;
      background-color: aqua;
      color: black;
      font-size: 1.3rem;
      padding: 0.5rem 1rem;
      border-radius: 0.40rem;
  
      &:disabled {
        background-color: grey;
      }
    }
  
    &__cancel-button {
      width: 12rem;
      background-color: hsl(0, 7%, 94%);
      color: grey;
      font-size: 1rem;
      padding: 0.5rem 1rem;
      // border: 2px solid #ff00c8;
      border-radius: 0.40rem;
  
      &:enabled {
        font-size: 1.25rem;
        color: #ff00c8;
      }
    }
  }
  